<ul class="header-actions">
  <li>
    {% render 'country-switcher', class: 'country-switcher-desktop', width: '32', itemType: 'country-flag' -%}
    {%- render 'country-switcher-global' %}
  </li>
  <li class="header-actions__action header-actions__action--search">
    <a
      href="#"
      id="searchToggle"
      class="header-actions__link search-trigger link"
      title="Search"
      data-search-trigger
    >
      <div class="page-header__icon header-actions__icon">
        {%- render 'svg--search' -%}
      </div>

      <span class="sr-only">Search</span>
    </a>
  </li>

  <li class="header-actions__action header-actions__action--contact">
    <a
      href="/pages/contact-us"
      class="header-actions__link contact-link link"
      title="Contact"
    >
      <div class="page-header__icon header-actions__icon">
        {%- render 'svg--contact' -%}
      </div>

      <span class="sr-only">Contact</span>
    </a>
  </li>
  <li class="header-actions__action header-actions__action--contact header-telephone-icon">
    <a
      href="tel:+44 (0) 207 0164312"
      class="header-actions__link contact-link link"
    >
      <div class="page-header__icon header-actions__icon">
        <img
          style="width:21px;"
          src="https://cdn.shopify.com/s/files/1/0040/7057/2147/files/telephone.png?v=1707231188"
        >
      </div>
      <span class="tooltip">+44 (0) 207 0164312<span class="arrow"></span></span>

      <span class="sr-only">+44 (0) 207 0164312</span>
    </a>
  </li>
  <li class="header-actions__action header-actions__action--contact">
    <a
      href="/pages/rewards"
      class="header-actions__link contact-link link"
      title="Rewards"
    >
      <div
        class="page-header__icon header-actions__icon"
        style="    font-size: 20px;"
      >
        <!--
          <img width="25px" src="https://cdn.shopify.com/s/files/1/0040/7057/2147/files/goat-image.png?v=1701341098">
        -->
        <i class="fal fa-thin fa-star"></i>
      </div>

      <span class="sr-only">Rewards</span>
    </a>
  </li>

  {%- if shop.customer_accounts_enabled -%}
    <li class="header-actions__action header-actions__action--account">
      <a
        href="/{% unless customer %}pages/{% endunless %}account"
        class="header-actions__link account-link link"
        title="Account"
      >
        <div class="page-header__icon header-actions__icon">
          {%- render 'svg--account' -%}
        </div>

        <span class="sr-only">Account</span>
      </a>
    </li>
  {%- endif -%}

  <li class="header-actions__action header-actions__action--cart miniCart">
    <a
      href="/cart"
      class="header-actions__link cart-link link"
      id="basketToggle"
      title="Cart"
    >
      <div class="page-header__icon header-actions__icon">
        {%- render 'svg--cart' -%}
      </div>

      <span class="sr-only">Cart</span>
      <span id="CartCount" class="cart-count">
        {{ cart.item_count }}
      </span>
    </a>

    <div id="cart-container">
      <div id="CartContainer"></div>
      <div id="p-charge-add-loading" class="hidden">
        <p class="loader">
          Updating Personalisation Charge
          <span class="dot one">.</span>
          <span class="dot two">.</span>
          <span class="dot three">.</span>
        </p>
      </div>
    </div>
  </li>
</ul>
<style>
  #p-charge-add-loading .loader{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #p-charge-add-loading .loader .dot {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    opacity: 0;
    font-size: 30px;
    line-height: 1;
    margin-top: -12px;
    animation: showHideDot 1s ease-in-out infinite;

    &.one {
      animation-delay: 0.2s;
    }
    &.two {
      animation-delay: 0.4s;
    }
    &.three {
      animation-delay: 0.6s;
    }
  }
  @keyframes showHideDot {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .header-telephone-icon a {
    position: relative;
  }
  .header-telephone-icon a .tooltip {
    position: absolute;
    top: 31px;
    white-space: nowrap;
    left: -63px;
    background: #2f2f2f;
    border-radius: 4px;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-out;
    padding: 5px 12px;
    transform: translateY(-50px);
  }
  .header-telephone-icon a .tooltip .arrow {
    border-left: 2px solid #2f2f2f;
    border-right: 2px solid #2f2f2f;
    width: 10px;
    display: inline-block;
    position: absolute;
    background: #2f2f2f;
    top: 20px;
    right: 68px;
    height: 10px;
    rotate: 45deg;
    z-index: -5;
  }
  .header-telephone-icon a:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(-60px);
  }
</style>
{% comment %} redeye task start {% endcomment %}

{% assign euCountryList = 'yt,au,de,fi,ad,at,by,be,ba,hr,cy,ee,fr,gr,ie,it,lv,lt,lu,mk,mt,mc,nl,pt,ru,sm,sk,si,es,ua,va,me,gp,mq,bl,mf,re' %}
{% assign usCountryList = 'ca,us' %}
{% assign ukCountryList = 'gb' %}
{% assign isoCode = localization.country.iso_code | downcase %}
{% assign zoneValue = '' %}

{%- if euCountryList contains isoCode -%}
  {% assign zoneValue = 'EU' %}
{% elsif usCountryList contains isoCode %}
  {% assign zoneValue = 'US' %}
{% elsif ukCountryList contains isoCode %}
  {% assign zoneValue = 'UK' %}
{% else %}
  {% assign zoneValue = 'UK' %}
{%- endif -%}

<script>
  var isTrackingInProgress = false;
  var oldXHR = window.XMLHttpRequest;

  function newXHR() {
    var realXHR = new oldXHR();
    realXHR.addEventListener(
      'readystatechange',
      function () {
        if (
          realXHR.readyState == 4 &&
          realXHR.status == 200 &&
          (realXHR.responseURL.includes('cart/add.js') || realXHR.responseURL.includes('/cart/change.js'))
        ) {
          if (!isTrackingInProgress) {
            isTrackingInProgress = true;
            fetch(window.Shopify.routes.root + 'cart.js')
              .then((response) => response.json())
              .then((data) => redEyeEventTrack(data))
              .finally(() => {
                isTrackingInProgress = false;
              });
          }
        }
      },
      false
    );
    return realXHR;
  }

  window.XMLHttpRequest = newXHR;

  function redEyeEventTrack(data) {
    const priceCalcualtion = (price) => {
      if (price.slice(-2) == '00') {
        return price.slice(0, -2) + '.00';
      } else {
        return price.slice(0, -2) + '.' + price.slice(-2);
      }
    };
    const cartItems = data;
    const prodItems = [];
    cartItems.items.forEach((item, index) => {
      const newItem = {};
      newItem['bask_name' + (index + 1)] = item.title;
      newItem['bask_image' + (index + 1)] = item.image.split('https://')[1];
      newItem['bask_url' + (index + 1)] = 'www.chintiandparker.com' + item.url;
      newItem['bask_size' + (index + 1)] = item.variant_options[0];
      newItem['bask_code' + (index + 1)] = item.id;
      (newItem['bask_each_val' + (index + 1)] = priceCalcualtion(item.price.toString())),
        (newItem['bask_items' + (index + 1)] = item.quantity);
      newItem['bask_val' + (index + 1)] = priceCalcualtion(item.original_line_price.toString());

      prodItems.push(newItem);
    });

    let mainSource = 'https://reporting.chintiandparker.com/cgi-bin/rr/blank.gif?nourl=basket-event&bask_event=yes';
    prodItems.forEach((item) => {
      for (let key in item) {
        mainSource += `&${key}=${item[key]}`;
      }
    });

    mainSource += `&bask_total_items=${cartItems.item_count}&bask_total_val=${priceCalcualtion(
      cartItems.total_price.toString()
    )}&site={{ zoneValue }}&currency=${cartItems.currency}`;
    let abandonItemsStructure = `<img src="${mainSource}" width="1" height="1" class="updated_basket_tag"/>`;
    if (document.querySelector('.updated_basket_tag')) {
      document.querySelector('.updated_basket_tag').remove();
    }

    document.body.insertAdjacentHTML('beforeend', abandonItemsStructure);
  }

  document.body.addEventListener('click', (e) => {
    if (e.target.matches(`input[value="Create account"]`) || e.target.matches(`input[type="submit"][value="Create"]`)) {
      const customerSubscriber = document.querySelector('#CustomerSubscriber').checked;
      if (customerSubscriber) {
        document.cookie = `customerSubscriber=true; Path=/`;
      }

      const genderValue = document.querySelector('#create_customer #CustomerFormGender')?.value;
      const fullBirthdayValue =
        jQuery('#create_customer #birthdayDay').val() +
        '/' +
        jQuery('#create_customer #birthdayMonth').val() +
        '/' +
        jQuery('#create_customer #birthdayYear').val();
      const mobileNumberValue = document.querySelector('#create_customer #CustomerFormMobile')?.value;

      console.log(genderValue, fullBirthdayValue, mobileNumberValue, 'check');

      if (genderValue) {
        document.cookie = `gender_value=${genderValue}; Path=/`;
      }

      if (fullBirthdayValue) {
        document.cookie = `birthday_value=${fullBirthdayValue}; Path=/`;
      }

      if (mobileNumberValue) {
        document.cookie = `mobile_value=${mobileNumberValue}; Path=/`;
      }

      document.cookie = `account_creation=true; Path=/`;
    }
    if (e.target.matches(`input[value="Sign In"]`)) {
      document.cookie = `account_loggedin=true; Path=/`;
    }
  });
</script>

{% if customer %}
  {% assign firstName = customer.first_name %}
  {% assign lastName = customer.last_name %}
  {% assign emailCheck = customer.email %}
  {% assign newsLetter = '' %}
  {% assign notify = '' %}

  {% if emailCheck %}
    {%- if euCountryList contains isoCode -%}
      {% assign newsLetter = 'registrationEU' %}
      {% assign notify = 'registrationEU' %}
    {% elsif usCountryList contains isoCode %}
      {% assign newsLetter = 'registrationUS' %}
      {% assign notify = 'registrationUS' %}

    {% elsif ukCountryList contains isoCode %}
      {% assign newsLetter = 'registrationUK' %}
      {% assign notify = 'registrationUK' %}

    {% else %}
      {% assign newsLetter = 'registrationUK' %}
      {% assign notify = 'registrationUK' %}
    {%- endif -%}
  {% endif %}
{% endif %}

<script>
  const accountName = {{firstName | json}};
 
  if(accountName){
      let account_create;
      let account_logged;
      let customerSubs;
      let gender;
      let birthday;
      let mobileValue;
    
      var cookies = document.cookie.split(';');
      for(var i=0;i < cookies.length;i++) {
          var cookie = cookies[i];
          if(cookie.includes('account_creation=')){
               account_create = true;
               break;
          }
          if(cookie.includes('account_loggedin=')){
               account_logged = true;
               break;
          }
      };

      for(var i=0;i < cookies.length;i++) {
          var cookie = cookies[i];
          if(cookie.includes('customerSubscriber=')){
               customerSubs = true;
               break;
          }
      };

      for(var i=0;i < cookies.length;i++) {
          var cookie = cookies[i];
          if(cookie.includes('gender_value=')){
               gender = cookie.split('=')[1];
               break;
          }
      };

      for(var i=0;i < cookies.length;i++) {
          var cookie = cookies[i];
          if(cookie.includes('birthday_value=')){
               birthday = cookie.split('=')[1];
               break;
          }
      };

     for(var i=0;i < cookies.length;i++) {
          var cookie = cookies[i];
          if(cookie.includes('mobile_value=')){
               mobileValue = cookie.split('=')[1];
               break;
          }
      };

    if(account_logged){
       if(document.querySelector('.loggedin_tag')){
        document.querySelector('.loggedin_tag').remove();
      };
      const str = `<img src="https://reporting.chintiandparker.com/cgi-bin/rr/blank.gif?nourl=log-in&login_type=general&email={{emailCheck}}" width="1" height="1" class="loggedin_tag" />`;
      document.body.insertAdjacentHTML('beforeend', str);   
      document.cookie = `account_loggedin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
    };

     if(account_create){
       if(document.querySelector('.creation_tag')){
        document.querySelector('.creation_tag').remove();
      };

       
      const str = `<img src="https://reporting.chintiandparker.com/cgi-bin/rr/blank.gif?nourl=registration-confirm&rg_confirm=yes&firstname={{ firstName }}&lastname={{ lastName }}&gender=${gender ? gender : ''}&dob=${birthday ? birthday: ''}&email={{ emailCheck }}&mobile=${mobileValue ? mobileValue:''}&emailpermit=${customerSubs ? 1: 0}&newsletter={{ newsLetter }}&notify={{ notify }}&site={{ zoneValue }}" width="1" height="1" class="creation_tag" />`;
      document.body.insertAdjacentHTML('beforeend', str);   
      document.cookie = `account_creation=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
      document.cookie = `customerSubscriber=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
      document.cookie = `gender_value=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
      document.cookie = `birthday_value=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
      document.cookie = `mobile_value=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
    }
  }
</script>

{% comment %} redeye task finish {% endcomment %}
