      <section class="cashmere-hero">
        <div class="el-container">
          <h1>{{ section.settings.Blog-title }}</h1>
          <img src="{{ section.settings.hero-background | img_url : '1080x' }}" alt="hero cover" />
          <div class="cashmere-hero-description">
            {{ section.settings.hero-paragraph }}
          </div>
        </div>
      </section>
      <section class="cashmere-content cashmere-what">
        <div class="el-container">
          <div class="cashmere-content-wrapper">
            <h3>{{ section.settings.section-one-title }}</h3>
            <img
              src="https://images.creator-prod.zmags.com/image/upload/q_auto,dpr_1,f_auto/c_scale,w_100/5ee9f5797826495766c6e099.png"
              class="arrow-down"
              alt="arrow-down"
            />
            {{ section.settings.section-one-paragraph }}
            <a href="{{ section.settings.section-one-link }}">
              {{ section.settings.section-one-link-title }}
            </a>
            <div class="cashmere-image-wrapper">
              <div class="image-wrapper">
                <img src="{{ section.settings.section-one-image-1 | img_url : '1080x' }}" alt="section image" />
              </div>
              <div class="image-wrapper">
                <img src="{{ section.settings.section-one-image-2 | img_url : '1080x' }}" alt="section image" />
              </div>
              <div class="image-wrapper">
                <img src="{{ section.settings.section-one-image-3 | img_url : '1080x' }}" alt="section image" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cashmere-content cashmere-from">
        <div class="el-container">
          <div class="cashmere-content-wrapper">
            <div class="float">
                <div>
                  <h5>{{ section.settings.section-two-title-extra }}</h5>
                  <p>
                    {{ section.settings.section-two-text-extra }}
                  </p>
                  <a href="{{ section.settings.section-two-link-extra }}">
                    {{ section.settings.section-two-link-title-extra }}
                  </a>
                </div>
              </div>
            <div class="extra-know">
              <h5>{{ section.settings.section-two-title-extra }}</h5>
              <p>
                {{ section.settings.section-two-text-extra }}
              </p>
              <a href="{{ section.settings.section-two-link-extra }}">
                {{ section.settings.section-two-lint-text-extra }}
              </a>
            </div>
            <h3 class="extra-info">
              {{ section.settings.section-two-title }}
              
            </h3>
            <img
              src="https://images.creator-prod.zmags.com/image/upload/q_auto,dpr_1,f_auto/c_scale,w_100/5ee9f5797826495766c6e099.png"
              class="arrow-down"
              alt="arrow-down"
            />
            {{ section.settings.section-two-paragraph }}
            <div class="cashmere-resize-image-wrapper">
              <div class="img-n-text">
                <img src="{{ section.settings.section-two-image-1 | img_url : '1080x' }}" alt="section image" />
                <q> {{ section.settings.section-two-image-text }} </q>
              </div>
              <div class="image-no-text">
                <img src="{{ section.settings.section-two-image-2 | img_url : '1080x' }}" alt="section image" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cashmere-content" id="cashmere-content">
        <div class="el-container">
          <h3>{{ section.settings.section-three-title }}</h3>
          <img
            src="https://images.creator-prod.zmags.com/image/upload/q_auto,dpr_1,f_auto/c_scale,w_100/5ee9f5797826495766c6e099.png"
            class="arrow-down"
            alt="arrow-down"
          />
          <div class="cashmere-content-unique-wrapper">
            <div class="unique-part">
              <div>
                <img src="{{ section.settings.section-three-image-1 | img_url : '1080x' }}" alt="section image" />
                <q>{{ section.settings.section-three-image-content-1 }}</q>
              </div>
              <div>
                <p>{{ section.settings.section-three-paragraph-1 }}</p>
              </div>
            </div>
            <div class="unique-part">
              <div>
                <p>{{ section.settings.section-three-paragraph-2 }}</p>
              </div>
              <div>
                <img src="{{ section.settings.section-three-image-2 | img_url : '1080x' }}" alt="section image" />
              </div>
            </div>
            <div class="unique-part">
            <div>
              <p class="know">
                <span>{{ section.settings.section-three-title-extra }}</span>{{ section.settings.section-three-text-extra }}
              </p>
            </div>
              <div>
                <p class="text">{{ section.settings.section-three-paragraph-3 }}</p>
              </div>
              <div>
                <img class="desktop-only" src="{{ section.settings.section-three-image-3 | img_url : '1080x' }}" alt="section image" />
                <img class="mobile-only" src="{{ section.settings.section-three-image-3-alt | img_url : '1080x' }}" alt="section image" />
              </div>
            </div>
            <div class="unique-part">
              <img src="{{ section.settings.section-three-image-4 | img_url : '1080x' }}" alt="section image" />
              <p>{{ section.settings.section-three-paragraph-4 }}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="cashmere-process">
        <h4 class="title">{{ section.settings.section-four-title }}</h4>
        <div class="el-container">
          <div class="cashmere-process-wrapper">
            <div class="cashmere-process-content">
              <h5>{{ section.settings.section-four-caption-1 }}</h5>
              <img src="{{ section.settings.section-four-image-1 | img_url : '1080x' }}" alt="section image" />
            </div>
            <div class="cashmere-process-content">
              <h5>{{ section.settings.section-four-caption-2 }}</h5>
              <img src="{{ section.settings.section-four-image-2 | img_url : '1080x' }}" alt="section image" />
            </div>
            <div class="cashmere-process-content">
              <h5>{{ section.settings.section-four-caption-3 }}</h5>
              <img src="{{ section.settings.section-four-image-3 | img_url : '1080x' }}" alt="section image" />
            </div>
            <div class="cashmere-process-content">
              <h5>{{ section.settings.section-four-caption-6 }}</h5>
              <img src="{{ section.settings.section-four-image-6 | img_url : '1080x' }}" alt="section image" />
            </div>
            <div class="cashmere-process-content">
              <h5>{{ section.settings.section-four-caption-5 }}</h5>
              <img src="{{ section.settings.section-four-image-5 | img_url : '1080x' }}" alt="section image" />
            </div>
            <div class="cashmere-process-content">
              <h5>{{ section.settings.section-four-caption-4 }}</h5>
              <img src="{{ section.settings.section-four-image-4 | img_url : '1080x' }}" alt="section image" />
            </div>
          </div>
        </div>
      </section>
      <section class="cashmere-content cashmere-choose">
        <div class="el-container">
          <div class="cashmere-content-wrapper">
            <h3 class="extra-info">
              {{ section.settings.section-five-title }}
              <div class="float">
                <div>
                  <h5>{{ section.settings.section-five-title-extra }}</h5>
                  <p>
                    {{ section.settings.section-five-text-extra }}
                  </p>
                </div>
              </div>
            </h3>
            <img
              src="https://images.creator-prod.zmags.com/image/upload/q_auto,dpr_1,f_auto/c_scale,w_100/5ee9f5797826495766c6e099.png"
              class="arrow-down"
              alt="arrow-down"
            />
            {{ section.settings.section-five-paragraph }}
            <div class="cashmere-image-wrapper-mobile-section">
              <div class="img-w-text">
                <img src="{{ section.settings.section-five-image-mobile-1 | img_url : '1080x' }}" alt="section image" />
                <p>{{ section.settings.section-five-image-content }}</p>
              </div>
            </div>
            <div class="cashmere-image-wrapper">
              <div class="img-w-text">
                <img src="{{ section.settings.section-five-image-1 | img_url : '1080x' }}" alt="section image" />
                <q>{{ section.settings.section-five-image-text }}</q>
              </div>
              <div class="image-wrapper">
                <img src="{{ section.settings.section-five-image-2 | img_url : '1080x' }}" alt="section image" />
              </div>
              <div class="image-wrapper">
                <img src="{{ section.settings.section-five-image-3 | img_url : '1080x' }}" alt="section image" />
              </div>
            </div>
            <p>{{ section.settings.section-five-paragraph-2 }}</p>
            <a
              class="mobile-only"
              href="{{ section.settings.section-five-link }}"
            >
              {{ section.settings.section-five-link-title }}
            </a>
            <a
              class="desktop-only"
              href="{{ section.settings.section-five-link }}"
            >{{ section.settings.section-five-link-title }}</a>
            <div class="extra-know">
              <h5>{{ section.settings.section-five-title-extra }}</h5>
              <p>
                {{ section.settings.section-five-text-extra }}
              </p>
              <a
                href="{{ section.settings.section-five-link }}"
              >{{ section.settings.section-five-link-title }}</a>
            </div>
              <div class="float mobile-section-float">
                <div>
                  <h5>{{ section.settings.section-five-title-extra }}</h5>
                  <p>
                    {{ section.settings.section-five-text-extra }}
                  </p>
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="cashmere-image-group">
        <div class="el-container">
          <div class="cashmere-image-group-wrapper">
            <aside>
              <img src="{{ section.settings.section-six-image-1 | img_url : '1080x' }}" alt="section image" />
              <div class="content">
                {{ section.settings.section-six-image-1-text }}
                <br />
                <a href="{{ section.settings.section-six-image-1-link }}"
                >{{ section.settings.section-six-image-1-link-title }}</a>
              </div>
            </aside>
            <aside>
              <img src="{{ section.settings.section-six-image-2 | img_url : '1080x' }}" alt="section image" />
              <div class="content">
                {{ section.settings.section-six-image-2-text }}
                <br />
                <a href="{{ section.settings.section-six-image-2-link }}"
                >{{ section.settings.section-six-image-2-link-title }}</a>
              </div>
            </aside>
          </div>
        </div>
      </section>
      <section class="cashmere-share">
        <div class="el-container">
          <ul class="social-link">
            <li>{{ section.settings.section-seven-title }}</li>
            <li>
              <a
                target="_blank"
                href="{{ section.settings.section-seven-link-1 }}"
              >
                <i class="fab {{ section.settings.section-seven-icon-1 }}"></i>
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="{{ section.settings.section-seven-link-2 }}"
              >
                <i class="fab {{ section.settings.section-seven-icon-2 }}"></i>
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="{{ section.settings.section-seven-link-3 }}"
              >
                <i class="fab {{ section.settings.section-seven-icon-3 }}"></i>
              </a>
            </li>
          </ul>
        </div>
      </section>


<style>
 
      #allAboutCashmereTemplate p {
        margin-bottom: 25px;
        letter-spacing: 0.3px;
        text-align: center;
        padding: 0 10px;
      }
      .cashmere-hero {
        position: relative;
        background-color: rgb(255, 251, 247);
        margin-top: 10px;
        padding-bottom: 10px;
      }
      .cashmere-hero h1 {
        position: absolute;
        width: 50%;
        max-width: 700px;
        text-align: center;
        font-size: 48px;
        background-color: white;
        padding: 40px 0px;
        border: 10px solid rgba(0, 0, 0, 0.1);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        transform: translate(-50%, -50%);
        top: 12%;
        left: 50%;
      }
      #all-about-cashmere p {
        margin-bottom: 25px;
        letter-spacing: 0.3px;
        text-align: center;
        font-size:20px;
        color:#000;
      }
      .cashmere-hero img {
        width: 100%;
        margin: 100px 0px 25px;
        padding: 0px 50px;
      }
      .cashmere-content {
        text-align: center;
        padding: 40px 0px;
      }
      .cashmere-content-wrapper {
        align-items: center;
        position:relative;
/*         overflow: hidden; */
      }
      section.cashmere-content.cashmere-from {
        background-color: rgb(255, 251, 247);
        margin-top: 70px;
      }
      .cashmere-from .cashmere-resize-image-wrapper .img-n-text{
        width: 60%;
      }
      #all-about-cashemre .cashmere-image-wrapper-mobile-section{
        margin-bottom:25px;
      }
      #all-about-cashemre .cashmere-image-wrapper-mobile-section .img-w-text{
        position: relative;
      }
      #all-about-cashemre .cashmere-image-wrapper-mobile-section .img-w-text img{
        min-height:200px;
      }

      #all-about-cashemre .cashmere-image-wrapper-mobile-section .img-w-text p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 20px;
            width: 70%;
      }
      .cashmere-from .cashmere-resize-image-wrapper .image-no-text{
        width: 30%;
      }
      .cashmere-content-wrapper .extra-know {
        display: none;
      }
      .cashmere-content h3 {
        font-size: 32px;
        margin-bottom: 25px;
      }
      .cashmere-content .extra-info {
        position: relative;
        padding: 30px 0;
        margin-bottom:0px;
      }

       .cashmere-content.cashmere-choose  .float{
         padding:20px 10px;
       }
      #all-about-cashemre .cashmere-content.cashmere-choose  .float p{
        margin-bottom:0;
      }
      .cashmere-content .float {
        position: absolute;
        top: -135px;
        right: 0;
        background: #FAFAFA;
        font-size: 15px;
        font-weight: 300;
        max-width: 23vw;
        border: solid rgb(233, 78, 27) 5px;
        padding: 40px 10px;
      }
      .cashmere-from .float{
        top: -135px;
      }
      .cashmere-content  .float h5 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .cashmere-content .float p {
        padding: 0;
      }
      .cashmere-content a {
        color: black;
        margin-bottom: 25px;
        font-size: 20px;
        text-decoration: underline;
      }
      .cashmere-content .arrow-down {
        width: 50px;
        margin-bottom: 20px;
      }
      .cashmere-image-wrapper {
        margin: 25px 0;
        overflow: hidden;

        display: flex;
        width: 100%;
        gap: 30px;
        justify-content: center;
      }
      .cashmere-image-wrapper .image-wrapper {
        width: 100%;
      }
      .cashmere-image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left top;
      }
      .cashmere-image-wrapper .img-w-text {
        position: relative;
        width: 100%;
        object-fit: cover;
        object-position: left top;
      }
      .cashmere-image-wrapper .img-w-text img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .cashmere-image-wrapper .img-w-text q {
        text-align: center;
        margin: auto;

        width: 90%;

        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: absolute;
        color: white;
        font-size: 35px;
      }
      .cashmere-from .cashmere-resize-image-wrapper{
        padding:30px 0px;
      }
      .cashmere-resize-image-wrapper {
        display: flex;
        justify-content: center;
        gap: 50px;
        overflow: hidden;
      }
      .cashmere-resize-image-wrapper img {
        object-fit: cover;
        height: 100%;
      }
      .cashmere-resize-image-wrapper .img-n-text {
        overflow: hidden;
        text-align: left;

        position: relative;
      }
      .cashmere-resize-image-wrapper .img-n-text q::before {
        margin-right: -5px;
      }
      .cashmere-resize-image-wrapper .img-n-text q::after {
        margin-left: -5px;
      }
     .cashmere-resize-image-wrapper .img-n-text q {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        font-size: 25px;
        padding: 15px;
        max-width: 40vw;
        line-height: 50px;
        margin-bottom: 30px;
        margin-left: 30px;
      }
      .cashmere-resize-image-wrapper .img-n-text img {
        width: 100%;
      }
      .cashmere-content-unique-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0px;
        overflow: hidden;
      }
      .cashmere-content-unique-wrapper .unique-part {
/*         height: 300px; */
        display: flex;
        justify-content: space-between;
      }
      .cashmere-content-unique-wrapper .unique-part img {
        height: 100%;
        object-fit: cover;
      }
      .cashmere-content-unique-wrapper .unique-part p {
        display: flex;
        align-items: center;
        line-height: 1.5;

        padding: 50px 50px;
        margin: 24px 0;
        background-color: rgb(255, 251, 247);
        position: relative;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(1) div:nth-child(1){
        width:45%;
        z-index: 2;
        position:relative;
      }
       .cashmere-content-unique-wrapper .unique-part:nth-child(1) div:nth-child(1) q{
         position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        font-size: 20px;
        padding: 15px;
        max-width: 20vw;
        line-height: 30px;
        text-align: left;
       }
      .cashmere-content-unique-wrapper .unique-part:nth-child(1) div:nth-child(2){
        width:55%;
        z-index: 3;
      }
     .cashmere-content-unique-wrapper .unique-part:nth-child(2) div:nth-child(1){
        width:45%;
        align-items: center;
        display: flex;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(2) div:nth-child(2){
        width:50%;
        z-index:3;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(1) p::after {
        content: "";
        height: 100px;
        width: 8px;
        background: rgb(233, 78, 27);

        position: absolute;
        transform: translate(-50%, 0);
        z-index: 1;
        top: 100%;
        left: 50%;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(1) p{
        margin-left: -100px;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(2) p::before {
        content: "";
        height: 120px;
        width: 8px;
        background: rgb(233, 78, 27);

        position: absolute;
        transform: translate(-50%, 0);
        z-index: 1;
        bottom: 100%;
        right: 50%;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(2) p::after {
        content: "";
        height: 200px;
        width: 8px;
        background: rgb(233, 78, 27);

        position: absolute;
        transform: translate(-50%, 0);
        z-index: 0;
        top: 100%;
        left: 80%;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(3) p.text::after {
        content: "";
        height: 200px;
        width: 8px;
        background: rgb(233, 78, 27);

        position: absolute;
        transform: translate(-50%, 0);
        z-index: 0;
        top: 100%;
        left: 60%;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(2) p {
        
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(3) p.text {
        margin: 50px 60px;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(4) p {
        margin: 20px 20px;
      }
      .cashmere-content-unique-wrapper .unique-part .know {
        display: flex;
        flex-direction: column;
        justify-content: center;
/*         width: 500px; */
        padding: 50px 30px;
        font-size: 15px;
        font-weight: 300;

        border: solid rgb(233, 78, 27) 5px;
        margin: 30px 0 !important;
      }
      .cashmere-content-unique-wrapper .unique-part .know::after {
        display: none;
      }
      .cashmere-content-unique-wrapper .unique-part .know span {
        font-size: 25px;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(1) img {
        width:100%;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(3) img {
/*         margin-top: 40px;
        margin-bottom: -40px; */
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(3){
        margin-top: 40px;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(4) img {
        width:50%;
      }
      .cashmere-content-unique-wrapper .unique-part:nth-child(4) p{
        padding: 50px;
        margin-bottom: 0 !important;
        margin-left: 50px;
        margin-right: 0;
      }
      .cashmere-process {
        position: relative;
        background: rgb(255, 251, 247);
        padding: 40px 0px;
      }
      .cashmere-process .title {
        margin: 0;
        color: #e94e1b;
        font-size: 25px;
        z-index: 999;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      .cashmere-process-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 70px;
        padding: 90px 0;
      }
      .cashmere-process-content {
        width: 24%;
        position: relative;
      }
      .cashmere-process-content img {
        height: 100%;
        object-fit: cover;
      }
      .cashmere-process-content h5 {
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        text-align: center;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 50%;
        width: 210px;

        background-color: white;
        padding: 5px 0;
      }

      .cashmere-process-content::after {
        display: inline-block;
        content: "";
        height: 30px;
        width: 60px;

        position: absolute;
        transform: translate(0, -50%);
        transform: rotate(270deg);
        top: 40%;
        left: 100%;

        background-image: url("https://images.creator-prod.zmags.com/image/upload/q_auto,dpr_1,f_auto/c_scale,w_100/5ee9f5797826495766c6e099.png");
        background-size: 60px 30px;
      }
      .cashmere-process-content:nth-child(3)::after {
        transform: translate(50%, -50%);
        transform: rotate(0deg);
        top: 105%;
        left: 40%;
      }
      .cashmere-process-content:last-child::after {
        display: none;
      }
      .cashmere-process-content:nth-child(4)::after,
      .cashmere-process-content:nth-child(5)::after {
        transform: rotate(90deg);
      }
      .cashmere-process-content:nth-child(5) {
        margin-top: 50px;
        margin-bottom: -50px;
      }
      .cashmere-process-content:nth-child(2) {
        margin-top: -50px;
        margin-bottom: 50px;
      }
      .cashmere-process-content img {
        width: 100%;
        object-fit: cover;
      }
      .cashmere-image-group {
        background: rgb(255, 251, 247);
        padding: 50px 0;
      }
      .cashmere-image-group-wrapper {
        display: flex;
        gap: 20px;
      }
      .cashmere-image-group img {
        width: 100%;
        height: 100%;
      }
      .cashmere-image-group aside {
        position: relative;
        overflow: hidden;
      }
      .cashmere-image-group .content {
        position: absolute;
        text-align: center;

        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        font-size: 32px;
        font-weight: 700;
        line-height: 50px;
        background-color: white;
        opacity: 0.8;
        padding: 60px 30px;
        width: 80%;
      }
      .cashmere-image-group a {
        color: black;
        font-size: 18px;
        text-decoration:underline;
      }
      .cashmere-share .social-link {
        list-style: none;
        padding: 0;
        padding: 0px 75px;
        display: flex;
        align-items: center;
        gap: 20px;

        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1.5px;
      }
      .cashmere-share .social-link a {
        color: black;
        font-size: 18px;
      }
      .cashmere-share {
        padding-top: 70px;
      }
      /* BreakPoint */
      #all-about-cashmere .desktop-only {
        display: block;
      }
      #all-about-cashmere .mobile-only {
        display: none;
      }

      @media screen and (max-width:1400px){
         #all-about-cashemre .cashmere-content.cashmere-from{
          position:relative;
        }
         #all-about-cashemre .cashmere-content.cashmere-from .cashmere-content-wrapper{
          position:unset;
        }
         #all-about-cashemre .cashmere-content.cashmere-from .cashmere-content-wrapper .float{
          top:-105px;
          right:10px;
        }
      }
      @media screen and (max-width: 1200px) {
        .cashmere-content-unique-wrapper .unique-part:nth-child(4) img {
          max-width: 300px;
        }
      }
      @media screen and (max-width: 992px) {
        .cashmere-from .float {
          position: unset;
          max-width: unset;
          border-width: 2px;
          padding: 10px;
          margin-top: -80px;
          margin-bottom: 20px;
        }
        #all-about-cashemre .mobile-section-float{
           position:unset;
           max-width: 100%;
           order:3;
        }
        .cashmere-content-wrapper .extra-know {
          display: none;
          flex-direction: column;
          justify-content: center;
          width: 250px;

          font-size: 15px;
          font-weight: 300;

          border: solid rgb(233, 78, 27) 5px;
          margin: 0 auto;
        }
        .cashmere-resize-image-wrapper {
          height: 300px;
        }
        .cashmere-content-wrapper .extra-know h5 {
          padding-top: 20px;
          font-size: 20px;
          margin: 0;
        }
        .cashmere-content-wrapper .extra-know span {
          font-size: 25px;
        }
        #all-about-cashmere p {
          padding: 0 10px;
        }
        .cashmere-content .extra-info {
          padding: 0;
        }
        .cashmere-content .extra-info .float {
          display: none;
        }
        .cashmere-content-unique-wrapper .unique-part p {
          padding: 0 5px;
          margin: 25px 0;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) p {
          padding: 0 5px;
          margin: 60px 0;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) p::after {
          left: 85%;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(3) p.text {
          padding: 0 5px;
          margin: 60px 0;
        }
        .cashmere-content-unique-wrapper .unique-part .know {
/*           width: 900px; */
        }
      }
      @media screen and (max-width: 768px) {

         .cashmere-content-unique-wrapper .unique-part:nth-child(1) div:nth-child(1) q{
           display:none;
         }

         #all-about-cashemre .cashmere-image-wrapper-mobile-section + .cashmere-image-wrapper{
          order:2;
        }

        #all-about-cashemre .cashmere-content.cashmere-choose .cashmere-content-wrapper{
          display:flex;
          flex-direction: column;
        }
        #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(1) > div:first-child{
          position: absolute;
          width: 100%;
          height: 100%;
        }
        #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(1) > div:last-child{
          width: 100%;
          z-index: 3;
          margin: 20px;
        }

          #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(1) > div:last-child p{
          position: static;
          width: unset;
          transform: none;
        }

          #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(2){
            display:block;
          }
          #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(2) > div:last-child{
            width:100%;
          }

          #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(3) > div:last-child{
            z-index:1;
            position: absolute;
            width: 100%;
            height: 100%;
          }
         #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(3){
           flex-direction:column;
           margin-top:0;
         }

         #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(3) > div:first-child{
           order:2;
         }

         #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(3) > div:first-child p{
           position: relative;
            width: 50%;
            height: 100%;
            z-index: 9;
            margin: 0 !important;
         }
        #cashmere-content .cashmere-content-unique-wrapper .unique-part:nth-child(3) > div:nth-child(2) p{
              position: relative;
              z-index: 9;
              width: 80%;
              margin: 25px 0px 0px !important;
        }
       .cashmere-hero img {
          width: 100%;
          margin: 50px 0px 0px 0px;
          padding: 0px 0px;
        }
        .cashmere-hero h1 {
          width: 80%;
          max-width: unset;
          font-size: 24px;
          border: 5px solid rgba(0, 0, 0, 0.1);
          top: 50px;
          padding: 20px 0px;
        }
        .cashmere-hero .el-container{
          padding:0px;
          max-width:100%;
        }
        .cashmere-hero .cashmere-hero-description{
          padding: 30px 15px 0px 15px;
        }
        .cashmere-what .cashmere-image-wrapper .image-wrapper:first-child{
          display:none;
        }
        section.cashmere-content.cashmere-from{
          margin-top:0px;
        }
        .cashmere-from .float p {
          padding: 0 !important;
          margin-bottom: 0 !important;
        }
        .cashmere-from .cashmere-resize-image-wrapper{
          flex-direction: column;
          height: unset;
          gap: 20px;
          padding: 30px 0 0 0;
        }
        .cashmere-resize-image-wrapper div{
          width:100% !important;
        }
        .cashmere-resize-image-wrapper .img-n-text q {
          font-size: 20px;
          padding: 10px;
          max-width: 70%;
          line-height: 24px;
          margin-bottom: 0;
          margin-left: 0;
        }
        #all-about-cashmere p{
          font-size:16px;
          padding:0px;
        }
        .cashmere-content a{
          font-size:16px;
        }
        .cashmere-content h3 {
          font-size: 24px;
          margin-bottom: 15px !important;
        }
        .cashmere-image-wrapper{
          gap:15px;
        }
        #all-about-cashmere .desktop-only {
          display: none;
        }
        #all-about-cashmere .mobile-only {
          display: block;
        }
        .cashmere-image-wrapper {
          flex-direction: row-reverse;
        }
        .cashmere-image-wrapper .wrapper:first-child {
          display: none;
        }
        .cashmere-resize-image-wrapper {
          height: 250px;
        }
        .cashmere-resize-image-wrapper img {
          display: none;
        }
        .cashmere-resize-image-wrapper .img-n-text img {
          display: block;
          width: 100%;
        }
        .cashmere-image-wrapper .img-w-text {
          display: none;
        }
        .cashmere-image-group-wrapper aside .content {
          padding: 12px;
          line-height: 40px;
        }
        .cashmere-process-wrapper {
          flex-direction: column;
          align-items: center;
        }
        .cashmere-process .title {
          position: unset;
          transform: translate(0, 0);
          text-align: center;
          padding: 20px 0;
        }
        .cashmere-process-wrapper {
          padding: 0;
          margin: 20px 0;
        }
        .cashmere-process-content {
          margin: 0 0 30px !important;
          width: 100%;
        }
        .cashmere-process-content img {
          display: block;
          max-width: 350px;
          margin: 0 auto;
        }
        .cashmere-process-content::after {
          transform: rotate(0deg) !important;
          top: 110% !important;
          left: 45% !important;
        }
        .cashmere-content-unique-wrapper .unique-part {
          position: relative;
        }
        .cashmere-content-unique-wrapper .unique-part p {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;

          margin: 0 !important;
          padding: 20px 10px !important;
        }
        .cashmere-content-unique-wrapper img {
          margin: 0 !important;
        }
        .cashmere-content-unique-wrapper .unique-part p::before {
          width: 10px !important;
        }
        .cashmere-content-unique-wrapper .unique-part p::after {
          width: 10px !important;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(1) {
          margin-bottom: 30px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(1) img {
          width: 100%;
          z-index: 2;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(1) p {
          width: 90%;
          z-index: 3;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(1) p::after {
          display: none;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) {
          justify-content: flex-end;
          margin-bottom: 30px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) p {
          width: 90%;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) p::before {
          left: 70%;
          height: 150px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) p::after {
          left: 30%;
          height: 200px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(2) img {
          width: 100%;
          max-height:300px;
          min-height:300px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(3) {
          margin-bottom: 60px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(3) img {
          width: 55%;
          z-index: 2;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(3) p.text::after {
          display: none;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(3) p.text {
          width: 90%;
          z-index: 3;

          transform: translate(-50%, 0);
          top: 5%;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(3) .know {
          transform: translate(0, 0) !important;
          top: 60%;
          bottom: -30px;
          z-index: 4;

          width: 55%;
          margin: 0 !important;
          padding: 10px !important;
          border-width: 2px;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(4) {
          width:90%;
          margin-left:auto;
          justify-content: flex-end;
        }
        .cashmere-content-unique-wrapper .unique-part:nth-child(4) img {
          max-width: 100%;
          position:absolute;
          width:100%;
          height:100%;
        }

          .cashmere-content-unique-wrapper .unique-part:nth-child(4) p {
            position: static;
            transform: translate(0px);
            width: calc(100% - 0px);
            margin: 20px !important;
        }
        
        .cashmere-content-unique-wrapper .unique-part:nth-child(4) p::before {
          content: "";
          height: 200px;
          width: 8px;

          position: absolute;
          transform: translate(-50%, 0);
          bottom: 100%;
          left: 20%;

          background: rgb(233, 78, 27);
          z-index: -1;
        }
        .cashmere-image-group-wrapper aside .content {
          font-size: 18px;
          line-height: 25px;
        }
      }
      @media screen and (max-width: 576px) {
        .cashmere-content-wrapper .extra-know {
          width: calc(100% - 4px);
          border: solid rgb(233, 78, 27) 2px;
        }
      }


        @media screen and (max-width: 400px) {
         .cashmere-image-group-wrapper aside .content {
          padding: 5px;
        }
      }
        @media screen and (min-width:993px){
           #all-about-cashemre .mobile-section-float{
           display:none;
         }
        }
       @media screen and (min-width: 769px) {
        
         #all-about-cashemre .cashmere-image-wrapper-mobile-section{
           display: none;
         }
      }
</style>

{% schema %}
  {
    "name": "All About Cashmere",
    "settings": [
      {
        "type": "header",
        "content": "Blog Hero"
      },
      {
        "type":"text",
        "id": "Blog-title",
        "label":"Blog Title",
        "default": "We're all about Cashmere"
      },
      {
        "type":"image_picker",
        "id":"hero-background",
        "label":"Hero Background Image"
      },
      {
        "type": "richtext",
        "id": "hero-paragraph",
        "label": "Hero Paragraph"
      },
      {
        "type": "header",
        "content": "Section One"
      },
      {
        "type":"text",
        "id": "section-one-title",
        "label":"Section Title",
        "default": "What is cashmere?"
      },
      {
        "type": "richtext",
        "id": "section-one-paragraph",
        "label": "Section Paragraph"
      },
      {
        "type":"text",
        "id": "section-one-link",
        "label":"Section Link",
        "default": "https://www.chintiandparker.com/collections/cashmere-essentials"
      },
      {
        "type":"text",
        "id": "section-one-link-title",
        "label":"Section Link Title",
        "default": "Shop cashmere essentials"
      },
      {
        "type":"image_picker",
        "id":"section-one-image-1",
        "label":"Section Image 1"
      },
      {
        "type":"image_picker",
        "id":"section-one-image-2",
        "label":"Section Image 2"
      },
      {
        "type":"image_picker",
        "id":"section-one-image-3",
        "label":"Section Image 3"
      },
      {
        "type": "header",
        "content": "Section Two"
      },
      {
        "type":"text",
        "id": "section-two-title",
        "label":"Section Title",
        "default": "Where does cashmere come from?"
      },
      {
        "type": "richtext",
        "id": "section-two-paragraph",
        "label": "Section Paragraph"
      },
      {
        "type":"text",
        "id": "section-two-title-extra",
        "label":"Extra Info Title",
        "default": "Did you know?"
      },
      {
        "type":"text",
        "id": "section-two-text-extra",
        "label":"Extra Info Description",
        "default": "10% of our knitwear offering is made locally in London."
      },
      {
        "type":"text",
        "id": "section-two-link-extra",
        "label":"Extra Info Link",
        "default": "https://www.chintiandparker.com/collections/all-clothing"
      },
      {
        "type":"text",
        "id": "section-two-link-title-extra",
        "label":"Extra Info Link Title",
        "default": "Shop made in London"
      },
      {
        "type":"image_picker",
        "id":"section-two-image-1",
        "label":"Section Image 1"
      },
      {
        "type":"text",
        "id": "section-two-image-text",
        "label":"Section Image 1 Caption",
        "default": "Our suppliers have excellent relationships with the goat herders."
      },
      {
        "type":"image_picker",
        "id":"section-two-image-2",
        "label":"Section Image 2"
      },
      {
        "type": "header",
        "content": "Section Three"
      },
      {
        "type":"text",
        "id": "section-three-title",
        "label":"Section Title",
        "default": "How is cashmere harvested and processed?"
      },
        {
        "type":"text",
        "id":"section-three-image-content-1",
        "label":"Section Image Content 1"
      },
      {
        "type":"image_picker",
        "id":"section-three-image-1",
        "label":"Section Image 1"
      },
      {
        "type": "text",
        "id": "section-three-paragraph-1",
        "label": "Section Paragraph 1",
        "default": "Once every spring, when the climate is milder and the goats naturally shed their coats, the goat herders harvest the delicate under-fleece by gently combing the goat, without causing any harm to the animal. The precious fibres of the goat’s warming undercoat are separated from the protective topcoat during a labour-intensive task that involves combing and sorting the hairs by hand."
      },
      {
        "type":"image_picker",
        "id":"section-three-image-2",
        "label":"Section Image 2"
      },
      {
        "type": "text",
        "id": "section-three-paragraph-2",
        "label": "Section Paragraph 2",
        "default": "The bundles of fibres are then transported to a laboratory to undergo the first phase of quality analysis. If they pass, they are spun into an exceptionally soft cashmere yarn in mills."
      },
      {
        "type":"image_picker",
        "id":"section-three-image-3",
        "label":"Section Image 3"
      },
      {
        "type":"image_picker",
        "id":"section-three-image-3-alt",
        "label":"Section Image 3(alternative)"
      },
      {
        "type": "text",
        "id": "section-three-paragraph-3",
        "label": "Section Paragraph 3",
        "default": "Cashmere’s value reflects its low production rate. While a sheep can give you around 3 kilos of wool every year, a cashmere goat will only produce approximately 200 grams."
      },
      {
        "type":"image_picker",
        "id":"section-three-image-4",
        "label":"Section Image 4"
      },
      {
        "type": "text",
        "id": "section-three-paragraph-4",
        "label": "Section Paragraph 4",
        "default": "The majority of our cashmere comes from a vertical factory in Mongolia – this means that the whole process, from goat rearing to yarn spinning to manufacturing, happens in the same place, keeping our carbon footprint low."
      },
      {
        "type":"text",
        "id": "section-three-title-extra",
        "label":"Extra Info Title",
        "default": "Did you know?"
      },
      {
        "type":"text",
        "id": "section-three-text-extra",
        "label":"Extra Info Description",
        "default": "We source yarns from Loro Piana in Italy and Todd & Duncan in Scotland."
      },
      {
        "type": "header",
        "content": "Section Four"
      },
      {
        "type":"text",
        "id": "section-four-title",
        "label":"Section Title",
        "default": "Our Vertical Factory Process"
      },
      {
        "type":"image_picker",
        "id":"section-four-image-1",
        "label":"Section Image 1"
      },
      {
        "type":"text",
        "id": "section-four-caption-1",
        "label":"Section Image 1 Caption",
        "default": "1. Rear goats"
      },
      {
        "type":"image_picker",
        "id":"section-four-image-2",
        "label":"Section Image 2"
      },
      {
        "type":"text",
        "id": "section-four-caption-2",
        "label":"Section Image 2 Caption",
        "default": "2. Harvest wool"
      },
      {
        "type":"image_picker",
        "id":"section-four-image-3",
        "label":"Section Image 3"
      },
      {
        "type":"text",
        "id": "section-four-caption-3",
        "label":"Section Image 3 Caption",
        "default": "3. Process the wool"
      },
      {
        "type":"image_picker",
        "id":"section-four-image-4",
        "label":"Section Image 4"
      },
      {
        "type":"text",
        "id": "section-four-caption-4",
        "label":"Section Image 4 Caption",
        "default": "4. Spin & dye yarn"
      },
      {
        "type":"image_picker",
        "id":"section-four-image-5",
        "label":"Section Image 5"
      },
      {
        "type":"text",
        "id": "section-four-caption-5",
        "label":"Section Image 5 Caption",
        "default": "5. Produce goods"
      },
      {
        "type":"image_picker",
        "id":"section-four-image-6",
        "label":"Section Image 6"
      },
      {
        "type":"text",
        "id": "section-four-caption-6",
        "label":"Section Image 6 Caption",
        "default": "6. Send to warehouse"
      },
      {
        "type": "header",
        "content": "Section Five"
      },
      {
        "type":"text",
        "id": "section-five-title",
        "label":"Section Title",
        "default": "Why choose cashmere?"
      },
      {
        "type": "richtext",
        "id": "section-five-paragraph",
        "label": "Section Paragraph"
      },
      {
        "type":"text",
        "id": "section-five-link",
        "label":"Section Link",
        "default": "https://www.chintiandparker.com/collections/100-cashmere"
      },
      {
        "type":"text",
        "id": "section-five-link-title",
        "label":"Section Link Title",
        "default": "Shop cashmere"
      },
       {
        "type":"image_picker",
        "id":"section-five-image-mobile-1",
        "label":"Section Image For Mobile"
      },
      {
        "type":"text",
        "id": "section-five-image-content",
        "label":"Section Image For Mobile Content"
      },
      {
        "type":"image_picker",
        "id":"section-five-image-1",
        "label":"Section Image 1"
      },
      {
        "type":"text",
        "id": "section-five-image-text",
        "label":"Section Image 1 Caption",
        "default": "Cashmere is a great year-round investment."
      },
      {
        "type":"image_picker",
        "id":"section-five-image-2",
        "label":"Section Image 2"
      },
      {
        "type":"image_picker",
        "id":"section-five-image-3",
        "label":"Section Image 3"
      },
      {
        "type":"textarea",
        "id": "section-five-paragraph-2",
        "label":"Pargarph 2",
        "default": "The natural structure of the cashmere fibre means that it possesses impressive insulating properties. The air trapped in the tiny spaces between the fibres forms a natural barrier that helps to contain body heat and prevent cold air from reaching the skin. This is why cashmere is a great year-round investment, keeping you warm in the winter and cool in the summer."
      },
      {
        "type":"text",
        "id": "section-five-title-extra",
        "label":"Extra Info Title",
        "default": "Did you know?"
      },
      {
        "type":"text",
        "id": "section-five-text-extra",
        "label":"Extra Info Description",
        "default": "It takes four goats to<br>yield enough cashmere to knit<br>one Chinti & Parker sweater."
      },
      {
        "type": "header",
        "content": "Section Six"
      },
      {
        "type":"image_picker",
        "id":"section-six-image-1",
        "label":"Section Image 1"
      },
      {
        "type":"text",
        "id": "section-six-image-1-text",
        "label":"Section Image 1 Caption",
        "default": "100% cashmere essentials"
      },
      {
        "type":"text",
        "id": "section-six-image-1-link",
        "label":"Section Image 1 Link",
        "default": "https://www.chintiandparker.com/collections/cashmere-essentials"
      },
      {
        "type":"text",
        "id": "section-six-image-1-link-title",
        "label":"Section Image 1 Link Title",
        "default": "Shop now"
      },
      {
        "type":"image_picker",
        "id":"section-six-image-2",
        "label":"Section Image 2"
      },
      {
        "type":"text",
        "id": "section-six-image-2-text",
        "label":"Section Image 2 Caption",
        "default": "Care for your cashmere"
      },
      {
        "type":"text",
        "id": "section-six-image-2-link",
        "label":"Section Image 2 Link",
        "default": "https://www.chintiandparker.com/pages/cashmere-care"
      },
      {
        "type":"text",
        "id": "section-six-image-2-link-title",
        "label":"SSection Image 2 Link Title",
        "default": "Learn more"
      },
      {
        "type": "header",
        "content": "Section Seven"
      },
      {
        "type":"text",
        "id": "section-seven-title",
        "label":"Section Title",
        "default": "share on"
      },
      {
        "type":"text",
        "id": "section-seven-link-1",
        "label":"Section Link 1",
        "default": "www.facebook.com/sharer.php?u=https://www.chintiandparker.com/products/oatmeal-cashmere-wide-leg-pants"
      },
      {
        "type":"text",
        "id": "section-seven-icon-1",
        "label":"Section Icon 1",
        "default": "fa-facebook"
      },
      {
        "type":"text",
        "id": "section-seven-link-2",
        "label":"Section Link 2",
        "default": "www.facebook.com/sharer.php?u=https://www.chintiandparker.com/products/oatmeal-cashmere-wide-leg-pants"
      },
      {
        "type":"text",
        "id": "section-seven-icon-2",
        "label":"Section Icon 2",
        "default": "fa-twitter"
      },
      {
        "type":"text",
        "id": "section-seven-link-3",
        "label":"Section Link 3",
        "default": "pinterest.com/pin/create/button/?url=https://www.chintiandparker.com/products/oatmeal-cashmere-wide-leg-pants&amp;media=//cdn.shopify.com/s/files/1/0040/7057/2147/products/KJ222_OATMEAL_ESSENTIALS_WIDE_2_8ad957fe-cbee-4335-ab23-c2034103b932_1024x1024.jpg?v=1623079576&amp;description=Oatmeal Cashmere Wide-Leg Pants"
      },
      {
        "type":"text",
        "id": "section-seven-icon-3",
        "label":"Section Icon 3",
        "default": "fa-pinterest"
      }
    ]
  }
{% endschema %}
