{% assign placementType = 'placement-cuff' %}
<div class="personalisation-modal-wrapper" id="personalisation-modal-wrapper">
  <div class="personalisation-modal">
    <div class="content-wrapper">
      <div class="product-image half-width">
        {% if product.handle contains 'scarf' %}
          {% assign placementType = 'placement-for-scarf' %}
          {{ section.settings['scarf-sample-image'] | img_url: '800x1000' | img_tag }}
        {% elsif product.handle contains 'ribbed-socks' %}
          {% assign placementType = 'placement-for-ribbed-socks' %}
          {{ section.settings['ribbed-socks-sample-image'] | img_url: '800x1000' | img_tag }}
        {% elsif product.handle contains 'socks' %}
          {% assign placementType = 'placement-for-socks' %}
          {{ section.settings['socks-sample-image'] | img_url: '800x1000' | img_tag }}
        {% elsif product.handle contains 'long-gloves' %}
          {% assign placementType = 'placement-for-long-gloves' %}
          {{ section.settings['long-gloves-sample-image'] | img_url: '800x1000' | img_tag }}
        {% elsif product.handle contains 'fingerless-gloves' %}
          {% assign placementType = 'placement-for-fingerless-gloves' %}
          {{ section.settings['fingerless-gloves-sample-image'] | img_url: '800x1000' | img_tag }}
        {% elsif product.handle contains 'gloves' %}
          {% assign placementType = 'placement-for-gloves' %}
          {{ section.settings['gloves-sample-image'] | img_url: '800x1000' | img_tag }}
        {% else %}
          {% assign placementType = 'placement-cuff' %}
          {{ section.settings['product-sample-image'] | img_url: '800x1000' | img_tag }}
        {% endif %}
        <div class="image-caption {{ placementType }}">
          <p>{{ section.settings['image-caption'] }}</p>
        </div>
        <div id="customized-text-demo" class="{{ placementType }}">
          <p class="size-small-1cm" style="color: #000; font-size: 14px; font-family: 'Ubuntu', sans-serif;"></p>
        </div>
      </div>

      <div class="product-customization half-width">
        <div class="heading">
          <div class="title">
            <h2>{{ section.settings.title }}</h2>
          </div>
          <div class="description">
            {{ section.settings.description }}
          </div>
        </div>
        <div class="customization-content">
          <div class="personalised-text">
            <label>Add Your Monogram</label>
            {% if placementType == 'placement-cuff' %}
              <input maxlength="6" type="text" value="" placeholder="Your Monogram">
              <span id="format-error">Invalid format! Some accepted formates (e.g., 's.v.v.' , 'v.s', JJ, ABC)</span>
            {% else %}
              <input maxlength="4" type="text" value="" placeholder="Your Monogram">
              <span id="format-error">Invalid format! Some accepted formates (e.g., 's.v.' , 'v.s', JJ, L.LL  )</span>
            {% endif %}
          </div>
          <div class="selection-fields">
            {% if placementType == 'placement-cuff' %}
              <div class="single-field">
                <label for="place">Choose Your Placement</label>
                <select name="place" id="place" class="place-option">
                  {% comment %} <option value="" selected disabled hidden>Choose an option</option> {% endcomment %}
                  <option for="placement" demo-value="right: 12%; top: 72%; text-align: left;" value="cuff">
                    Cuff
                  </option>
                  <option for="placement" demo-value="right: 27%; top: 59%; text-align: right;" value="hem">Hem</option>
                  <option for="placement" demo-value="right: 33%; top: 35%; text-align: center;" value="chest">
                    Chest
                  </option>
                </select>
              </div>
            {% endif %}
            <div class="single-field">
              <label for="fonts">Choose Your Font</label>
              <select name="fonts" id="fonts" class="font-option">
                {% comment %} <option value="" selected disabled hidden>Choose an option</option> {% endcomment %}
                <option for="font" value="Block" demo-value="'Ubuntu', sans-serif">Block</option>
                <option for="font" value="Serif" demo-value="'PT Serif', serif">Serif</option>
                <option for="font" value="Kunstler" demo-value="'Pinyon Script', cursive">Kunstler</option>
              </select>
            </div>
            <div class="single-field">
              <label for="text-size">Choose Your Size</label>
              <select name="text-size" id="text-size" class="text-size-option">
                {% comment %} <option value="" selected disabled hidden>Choose an option</option> {% endcomment %}
                <option for="size" value="small-1cm" demo-value="14px">Small - 1cm</option>
                <option for="size" value="medium-2cm" demo-value="16px">Medium - 2cm</option>
              </select>
            </div>
          </div>
          <div class="color-picker">
            <label for="place">Choose Your Color</label>
            <ul>
              <li class="color-item active">
                <span class="color color-black" data-color="black" data-color-code="#000"></span>
              </li>
              <li class="color-item">
                <span class="color color-navy" data-color="navy" data-color-code="#000099"></span>
              </li>
              <li class="color-item">
                <span class="color color-red" data-color="red" data-color-code="#B8001F"></span>
              </li>
              <li class="color-item">
                <span class="color color-orange" data-color="orange" data-color-code="#FF6600"></span>
              </li>
              <li class="color-item">
                <span class="color color-pink" data-color="pink" data-color-code="#FF99CC"></span>
              </li>
              <li class="color-item">
                <span class="color color-white" data-color="white" data-color-code="#fff"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="ATC-section">
          <!--
            <div class="personalisation-note">
              <p>Personalization charge will be applied at checkout for each personalized product.</p>
            </div>
          -->
          <div class="personalised-atc-form">
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <input
                type="hidden"
                name="id"
                id="atc-product-id"
                value="{{ product.selected_or_first_available_variant.id }}"
              >
              <input type="hidden" name="properties[_MID_Name]" value="{{ product.metafields.mid_info.mid_name }}">
              <input type="hidden" name="properties[_MID_Code]" value="{{ product.metafields.mid_info.mid_code }}">
              <input
                type="hidden"
                name="properties[_MID_Address]"
                value="{{ product.metafields.mid_info.mid_address }}"
              >
              <input type="hidden" name="properties[_type]" value="personalised">
              <input type="hidden" name="properties[_monogram]" data-default="" data-value="monogram" value="">
              {% if placementType == 'placement-cuff' %}
                <input
                  type="hidden"
                  name="properties[_placement]"
                  data-default="cuff"
                  data-value="placement"
                  value="cuff"
                >
              {% endif %}
              <input type="hidden" name="properties[_font]" data-default="block" data-value="font" value="block">
              <input
                type="hidden"
                name="properties[_size]"
                data-default="small-1cm"
                data-value="size"
                value="small-1cm"
              >
              <input type="hidden" name="properties[_color]" data-default="black" data-value="color" value="black">
              <input type="hidden" name="quantity" value="1">
              <button type="submit" name="add" class="disable-atc">
                {{ section.settings['personalised-atc-text'] }}
              </button>
            </form>
          </div>
          <div class="atc-form">
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <input
                type="hidden"
                name="id"
                id="atc-product-id"
                value="{{ product.selected_or_first_available_variant.id }}"
              >
              <input type="hidden" name="properties[_MID_Name]" value="{{ product.metafields.mid_info.mid_name }}">
              <input type="hidden" name="properties[_MID_Code]" value="{{ product.metafields.mid_info.mid_code }}">
              <input
                type="hidden"
                name="properties[_MID_Address]"
                value="{{ product.metafields.mid_info.mid_address }}"
              >
              <input type="hidden" name="quantity" value="1">
              <button type="submit" name="add" class="">CONTINUE WITHOUT personalisation</button>
            </form>
          </div>
        </div>
      </div>
      <div class="close-modal">
        <button class="close-modal-button">
          <svg
            width="18"
            height="18"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 53.34 53.34"
            aria-hidden="true"
          >
            <path d="M53.34 7.64L45.7 0 26.67 19.03 7.64 0 0 7.64l19.03 19.03L0 45.7l7.64 7.64 19.03-19.03L45.7 53.34l7.64-7.64-19.03-19.03L53.34 7.64z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

  #personalisation-modal-wrapper *{
    box-sizing: border-box;
  }
  #personalisation-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
    backdrop-filter: blur(3px);
    background: #00000091;
    justify-content: center;
    overflow-y: scroll;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .ajaxified-cart-feedback.success{
    display: none;
  }
  #personalisation-modal-wrapper select{
    cursor: pointer;
  }
  #personalisation-modal-wrapper .personalisation-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #fff;
    border-radius: 8px;
    margin: 20px;
    max-width: 1200px;
    overflow: hidden;
  }

  #personalisation-modal-wrapper .personalisation-modal .content-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .personalised-text{
    position: relative;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .personalised-text #format-error {
    color: black;
    position: absolute;
    top: -10px;
    left: 0px;
    background: rgb(255, 218, 73);
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .personalised-text #format-error.show{
    visibility: visible;
    opacity: 1;
  }

  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image{
    position: relative;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo{
    position: absolute;
    width: 60px;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image .image-caption{
    position: absolute;
    top: 5.8%;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image .image-caption.placement-for-long-gloves{
    position: absolute;
    top: 2.8%;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image .image-caption p{
    color: #777;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 0 15px;
  line-height: normal;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo p{
    line-height: normal;
    font-weight: 700;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization {
    padding: 40px 30px;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section{
    padding: 40px 0 20px 0;
  }
  /* #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalisation-note p{
    font-style: italic;
    text-align: center;
    line-height: normal;
  } */
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .atc-form button{
    margin: 0;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalised-atc-form button[type='submit'].disable-atc {
    background: #898989;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .selection-fields {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content label {
    font-weight: bold;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item{
    padding: 2px;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    width: 40px;
    border: 1px solid #ddd;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item.active{
    border: 1px solid black;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color{
    width: 35px;
    height: 35px;
    border-radius: 50%;

    transition: all .25s;
    display: inline-block;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item:hover .color{
    border: 1px solid black;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color-black{
    background: #000;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color-navy{
    background: #000099;
  }


  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color-red{
    background: #B8001F;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color-orange{
    background: #FF6600;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color-pink{
    background: #FF99CC;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item .color-white{
    background: #fff;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .selection-fields .single-field {
    flex: 48%;
    max-width: 49%;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .heading{
    padding-bottom: 40px;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .heading .title h2 {
    font-size: 2rem;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .heading .description {
    padding-top: 20px;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .heading .description p {
    font-size: 13px;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .half-width {
    flex: 1;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .close-modal .close-modal-button {
    all: unset;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    transition: all 0.25s;
    display: flex;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .close-modal-button:hover {
    background: #ddd;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper img {
    height: 100%;
    width: 100%;
  }
  {% comment %} #AddToCartForm #product-add #AddToCartWrapper button.button:not(button.button.disabled) {
    display: none;
  } {% endcomment %}
  {% comment %} #AddToCartForm #product-add .fake-atc-button + #ValidAddtoCart {
    display: none;
  } {% endcomment %}
  #personalise-button .fake-atc-button {
    border: 1px solid #111;
    background-color: #111;
    color: #fff;
    padding: 18px 30px 17px;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    line-height: 1.1;
    letter-spacing: 0.1em;
    outline: 0;
    cursor: pointer;
    margin-bottom: 15px;
  }

  #personalisation-modal-wrapper .personalisation-charge{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-cuff{
    right: 12%;
    top: 72%;
    text-align: right;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-for-fingerless-gloves{
    right: 25%;
    top: 45%;
    text-align: right;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-for-long-gloves{
    right: 56%;
    top: 40%;
    text-align: right;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-for-gloves{
    right: 58%;
    top: 58%;
    text-align: right;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-for-socks{
    right: 51%;
    top: 30%;
    text-align: center;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-for-ribbed-socks{
    right: 22.5%;
    top: 34%;
    text-align: center;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-for-scarf{
    right: 14%;
    top: 69%;
    text-align: right;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-hem{
    right: 27%;
    top: 59%;
    text-align: right;
  }
  #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-chest{
    right: 33%;
    top: 35%;
    text-align: center;
  }
  @media only screen and (min-width: 375px) and (max-width: 460px){
    {% comment %} #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-cuff{
      right: 14.5%;
      top: 72%;
      text-align: left;
    } {% endcomment %}
  }
  @media only screen and (max-width: 768px){
    {% comment %} #AddToCartForm #product-add .fake-atc-button {
      margin-bottom: 0;
      padding: 23px 12px 22px;
      position: relative;
      color: #111;
      line-height: 1.2;
    } {% endcomment %}
    {% comment %} #AddToCartForm #product-add .fake-atc-button:after {
      content: "Add";
      position: absolute;
      {% comment %} top: 0; {% endcomment %}
      left: 0;
      width: 100%;
      color: #fff;
    } {% endcomment %}
    .product-details #AddToCartForm #variants-add-wrapper.hidden{
      display: none;
    }
  }
  @media only screen and (max-width: 850px){
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .selection-fields .single-field {
      flex: 100%;
      max-width: 100%;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo p.size-small-1cm{
      font-size: 10px !important;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo p.size-medium-2cm{
      font-size: 12px !important;
    }
  }
  @media only screen and (max-width: 900px){
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image .image-caption{
      bottom: 5.8%;
      top: unset;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image .image-caption.placement-for-long-gloves{
      bottom: -2%;
      top: unset;
    }
    #personalisation-modal-wrapper .personalisation-modal .product-image{
      max-width: 420px;
      margin: auto;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper {
      flex-direction: column;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .heading{
      text-align: center;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .heading .title h2{
      font-size: 1.5rem;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-cuff{
      right: 12.5%;
    }
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo.placement-chest{
      right: 30%;
      top: 35%;
    }
  }
  @media only screen and (max-width: 1150px){
    #personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo{
      width: 50px;
    }
  }
</style>

<script>
    const monogramErrorMessage = document.querySelector("#format-error");
    const modal_wrapper = document.querySelector('#personalisation-modal-wrapper');
    const personalisedButtonText = "{{ section.settings.personalised-atc-text }}"
    const personalisedAtcButton = document.querySelector("#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalised-atc-form button[type='submit']");
    const regularAtcButton = document.querySelector("#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .atc-form button[type='submit']");
    const demoText = document.querySelector(
      '#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-image #customized-text-demo p'
    );
    const color_pickers = document.querySelectorAll(
      '#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .color-picker ul li.color-item'
    );
    const allSelectFields = document
    .querySelectorAll(
      '#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization select'
    );
    const textField = document
    .querySelector(
      '#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .customization-content .personalised-text input'
    )
    const timeOutFunction = (runFunction, timeOut) => {
      setTimeout(()=>{
          runFunction();
      }, timeOut)
    }
    const resetModal = () => {
      allSelectFields
      .forEach((select) => {
        select.options[0].selected = true;
      });
      updateColorSwatchesActiveClass(color_pickers, color_pickers[0]);
      document.querySelectorAll("#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalised-atc-form input[data-default]").forEach(item=>{
        item.value = item.dataset['default'];
      })
      textField.value = '';
      demoText.textContent = '';
      demoText.setAttribute("style", "color: #000; font-size: 14px; font-family: 'Ubuntu', sans-serif;");
      checkValidation(textField.value);
      monogramErrorMessage.classList.remove("show");
      setTimeout(()=>{  
        personalisedAtcButton.textContent = personalisedButtonText;
        regularAtcButton.textContent = "continue without personalisation";
      },1500)
    }
    const openModal = () => {
      modal_wrapper.style.display = 'flex';
      document.body.style.overflow = 'hidden';
      document.querySelector(".product-details #AddToCartForm #variants-add-wrapper").classList.add("hidden");
    };
    const closeModal = () => {
      modal_wrapper.style.display = 'none';
      document.body.style.overflow = 'auto';
      document.querySelector(".product-details #AddToCartForm #variants-add-wrapper").classList.remove("hidden");
      resetModal();
    };
    const updateColorSwatchesActiveClass = (items, activeItem) => {
      items.forEach((item) => {
        item.classList.remove('active');
      });
      activeItem.classList.add('active');
    };
    const updateFormProperties = (select) => {
      const selectedItemDestination = select.options[select.options['selectedIndex']].getAttribute('for');
      const selectedItemValue = select.options[select.options['selectedIndex']].value;
      const targetElement = document.querySelector(
        `#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalised-atc-form input[data-value='${selectedItemDestination}']`
      );
      targetElement.value = selectedItemValue;
      if(selectedItemDestination == 'size'){
        demoText.style.fontSize = `${select.options[select.options['selectedIndex']].getAttribute('demo-value')}`
        demoText.className = `${selectedItemDestination}-${selectedItemValue}`;
      }
      else if(selectedItemDestination == 'font'){
        demoText.style.fontFamily = `${select.options[select.options['selectedIndex']].getAttribute('demo-value')}`
      }
      else if(selectedItemDestination == 'placement'){
        {% comment %} demoText.closest("#customized-text-demo").setAttribute("style", `${select.options[select.options['selectedIndex']].getAttribute('demo-value')}`); {% endcomment %}
        demoText.closest("#customized-text-demo").className = `${selectedItemDestination}-${selectedItemValue}`;
      }
    };
    const addPersonalisationCharge = () => {
        document.querySelector("#personalisation-charge button").click();
    };
    const checkValidation = (value)=>{
      // Define a regex pattern for 'v.v.v.', '.v.v', 'v.v' formats
      {% if placementType == 'placement-cuff' %}
        const pattern = /^(?:[a-zA-Z]{1,3}|([a-zA-Z]{2}\.[a-zA-Z])|([a-zA-Z]\.[a-zA-Z])|([a-zA-Z]{2}\.[a-zA-Z]\.)|([a-zA-Z]\.[a-zA-Z]{2}\.?)|([a-zA-Z]\.[a-zA-Z]\.[a-zA-Z]\.?)|([a-zA-Z]{1,3}\.?)|(\.[a-zA-Z]{1,2}\.[a-zA-Z]\.?)|(\.[a-zA-Z]\.[a-zA-Z]\.?)|([a-zA-Z]\.[a-zA-Z]{1,2}\.?)|(\.[a-zA-Z]{1,3}\.))$/;
      {% else %}
        const pattern = /^(?:[a-zA-Z]{1,2}|([a-zA-Z]{2}\.[a-zA-Z])|([a-zA-Z]\.[a-zA-Z])|([a-zA-Z]{2}\.[a-zA-Z]\.)|([a-zA-Z]\.[a-zA-Z]{2}\.?)|([a-zA-Z]\.[a-zA-Z]\.[a-zA-Z]\.?)|([a-zA-Z]{1,2}\.?)|(\.[a-zA-Z]{1,2}\.[a-zA-Z]\.?)|(\.[a-zA-Z]\.[a-zA-Z]\.?)|([a-zA-Z]\.[a-zA-Z]{1,2}\.?)|(\.[a-zA-Z]{1,2}\.))$/
      {% endif %}
      if (pattern.test(value)) {
         // Hide error if format is valid
        monogramErrorMessage.classList.remove("show");
        personalisedAtcButton.classList.remove("disable-atc");
      } else {
          // Show error if format is invalid
          monogramErrorMessage.classList.add("show");
          personalisedAtcButton.classList.add("disable-atc");
      }
      
    }
{% comment %} personalise button click event {% endcomment %}
document
.querySelector('#personalise-button .fake-atc-button')
.addEventListener('click', () => {
  var variantSizes = jQuery('.size label:not(.shop-the-look-modal-wrapper .size label)').data('size');
  if (variantSizes == '') {
    jQuery('.size-error').fadeIn();
  } else {
    jQuery('.size-error').fadeOut();
    openModal();
  }
});
{% comment %} personalise button click event {% endcomment %}
    {% comment %} event for size selectors {% endcomment %}
    document
      .querySelectorAll(
        '.product-details #AddToCartForm #variants-add-wrapper #product-variants .selector.size-selector .size .product-option-size li.active'
      )
      .forEach((li) => {
        li.addEventListener('click', () => {
          const selected_variant_id = li.getAttribute('data-id');
          document.querySelectorAll("#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section input#atc-product-id").forEach(input=>{
            input.value = selected_variant_id;
          })
          {% comment %} if (!document.querySelector('#AddToCartForm #product-add .fake-atc-button')) {
            document
              .querySelector('#AddToCartForm #product-add #AddToCartWrapper')
              .insertAdjacentHTML('afterend', `<div class="fake-atc-button button-custom">Personalise</div>`);
          } {% endcomment %}
        });
      });
      {% comment %} event for modal close {% endcomment %}
    document
      .querySelector(
        '#personalisation-modal-wrapper .personalisation-modal .content-wrapper .close-modal .close-modal-button'
      )
      .addEventListener('click', () => {
        closeModal();
      });
  
      {% comment %} event for all color swatches {% endcomment %}
    color_pickers.forEach((li) => {
      li.addEventListener('click', () => {
        updateColorSwatchesActiveClass(color_pickers, li);
        const color_name = li.children[0].getAttribute('data-color');
        const color_code = li.children[0].getAttribute('data-color-code');
        document.querySelector(
          "#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalised-atc-form input[name='properties[_color]']"
        ).value = color_name;
        demoText.style.color = `${color_code}`;
      });
    });
  
    {% comment %} event for text input {% endcomment %}
    textField
      .addEventListener('input', (e) => {
        e.target.value = e.target.value.replace(/[^a-zA-Z0-9.]/g, '');
        checkValidation(e.target.value);
        document.querySelector(
          "#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section .personalised-atc-form input[name='properties[_monogram]']"
        ).value = e.target.value;
        demoText.textContent = e.target.value;
      });
      {% comment %} add event for all select items {% endcomment %}
    allSelectFields
      .forEach((select) => {
        select.addEventListener('change', () => {
          updateFormProperties(select);
        });
      });
      const extraChargeDiv = `  <div id="personalisation-charge">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <input
            type="hidden"
            name="id"
            id="personalisation-charge"
            value="53479059259771"
          >
          <input type="hidden" name="quantity" value="1">
          <button type="submit" name="add" class=""></button>
        </form>
      </div>`;
      document.body.insertAdjacentHTML('beforeend', extraChargeDiv);
    {% comment %} add 30 sec timer to the cart page and adding extra charge for personalization {% endcomment %}
    let count = new Date((new Date().getTime())+(30*60*1000));
    document.querySelectorAll("#personalisation-modal-wrapper .personalisation-modal .content-wrapper .product-customization .ATC-section [type='submit']").forEach(button=>{
      button.addEventListener("click",()=>{
        localStorage.setItem("cartTimer", JSON.stringify(count));
        timeOutFunction(closeModal, 1200);
        if(button.closest(".personalised-atc-form")){
          timeOutFunction(addPersonalisationCharge, 1200);
        }
      })
    })
</script>
{% schema %}
{
  "name": "personalisation",
  "settings": [
    {
      "type": "image_picker",
      "id": "product-sample-image",
      "label": "Product Sample Image"
    },
    {
      "type": "image_picker",
      "id": "scarf-sample-image",
      "label": "Scarf Sample Image"
    },
    {
      "type": "image_picker",
      "id": "socks-sample-image",
      "label": "Socks Sample Image"
    },
    {
      "type": "image_picker",
      "id": "ribbed-socks-sample-image",
      "label": "Ribbed Socks Sample Image"
    },
    {
      "type": "image_picker",
      "id": "long-gloves-sample-image",
      "label": "Long Gloves Sample Image"
    },
    {
      "type": "image_picker",
      "id": "gloves-sample-image",
      "label": "Gloves Sample Image"
    },
    {
      "type": "image_picker",
      "id": "fingerless-gloves-sample-image",
      "label": "Fingerless Gloves Sample Image"
    },
    {
      "type": "text",
      "id": "image-caption",
      "label": "Image Caption"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "personalised-atc-text",
      "label": "Personalised Button Text"
    }
  ]
}
{% endschema %}

{% comment %} products/the-cream-cashmere-boxy-sweater {% endcomment %}
{% comment %} products/navy-wool-cashmere-scarf {% endcomment %}
{% comment %} products/light-oatmeal-wool-cashmere-socks {% endcomment %}
{% comment %} products/light-oatmeal-wool-cashmere-gloves {% endcomment %}
{% comment %} products/claret-cashmere-long-gloves {% endcomment %}
{% comment %} products/light-oatmeal-wool-cashmere-fingerless-gloves {% endcomment %}
