

<div class="social-media-section">
  <ul class="social-icons">
    {% if section.settings.facebook_url %}
      <li>
        <a href="{{ section.settings.facebook_url }}" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
    {% endif %}
    {% if section.settings.twitter_url %}
      <li>
        <a href="{{ section.settings.twitter_url }}" target="_blank">
          <img src="{{ 'twitter-icon.png' | asset_url }}" alt="Twitter">
        </a>
      </li>
    {% endif %}
    {% if section.settings.instagram_url %}
      <li>
        <a href="{{ section.settings.instagram_url }}" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    {% endif %}
    {% if section.settings.pinterest_url %}
      <li>
        <a href="{{ section.settings.pinterest_url }}" target="_blank">
          <i class="fab fa-pinterest"></i>
        </a>
      </li>
    {% endif %}
    {% if section.settings.tiktok_url %}
      <li>
        <a href="{{ section.settings.tiktok_url }}" target="_blank">
           <img src="https://cdn.shopify.com/s/files/1/0040/7057/2147/files/tiktok-icon.png?v=1727857494" style="scale: 2.2; height: 23px; width: 23px;" alt="tiktok"> 
        </a>
      </li>
    {% endif %}
  </ul>
</div>

<style>
  .social-media-section {
    text-align: center;
  }
  .social-icons {
    list-style: none;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  .social-icons li a {
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
}
  .social-icons li a img {
    width: 30px;
    height: 30px;
  }
</style>

{% schema %}
  {
    "name": "Social Media Section",
    "settings": [
      {
        "type": "url",
        "id": "facebook_url",
        "label": "Facebook URL"
      },
      {
        "type": "url",
        "id": "twitter_url",
        "label": "Twitter URL"
      },
      {
        "type": "url",
        "id": "instagram_url",
        "label": "Instagram URL"
      },
      {
        "type": "url",
        "id": "pinterest_url",
        "label": "Pinterest URL"
      },
      {
        "type": "url",
        "id": "tiktok_url",
        "label": "Tiktok URL"
      }
    ],
    "presets": [
      {
        "name": "Social Media Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
